/* COMMON Zone*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}


ul{
    list-style: none;
}

li{
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: var(--c-playlist);
}
/* END COMMON Zone*/

/* UTILITIES Zone*/
:root{
    --bg-primary: #141922;
    --c-text-icon: #fefefe;
    --bg-sidebar: #060606;
    --c-playlist: #636363;
    --bg-trackbar: #363637;
    --bg-banner: #101319;
}

.d-flex{
    display: flex;
}

.j-fe{
    justify-content: flex-end;
}

.j-sb{
    justify-content: space-between;
}

.j-center{
    justify-content: center;
}

.j-se{
    justify-content: space-evenly;
}

.a-center{
    align-items: center;
}

.circle{
    border-radius: 50%;
}

.anim-hov-white:hover{
    color: white;
    cursor: pointer;
}

.p-rel{
    position: relative;
}

 
/* END UTILITIES Zoner*/




/**************************************************************************
                                MAIN ZONE
**************************************************************************/

main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


/* Sidebar Zone*/
#sidebar{
    height: calc(100% - 91px);
    width: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--bg-sidebar);
    padding: 10px 70px 0px 20px;
    overflow-x: hidden;
}

.sidebar-item{
    color: var(--c-playlist);
}

.sidebar-item:hover{
    color: white;
    cursor: pointer;
    border-left: lightgreen 2px solid;
}

#logo{
    width: 130px;
}

#small-logo{
    display: none;
}

#menu{
    margin-top: 15px;
}

#menu img{
    width: 20px;
    height: 30px;
    margin-right: 10px;
    vertical-align:middle;
}

#playlist{
    margin-top: 31px;
    color: white;
}

#playlist h5{
    margin-bottom: 1rem;
}

.playlist-item{
    margin-bottom: 10px;
}

.fa-square-plus{
    font-size: 40px;
    vertical-align: middle;
    padding-right: 10px;
}


#install{
    color: var(--c-playlist);
}

#download-icon{
    width: 25px;
    height: 15px;
    margin-right: 10px;
}

#bottom-sidebar{
    margin-top: 100%;
}

#user{
    margin-top: 10px;
    align-items: center;
}

#user-img{
    color:var(--c-playlist);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 3px;
}

#user{
    color: white;
    background-color: transparent;
}



/* End Sidebar Zone */


/****** TOP ZONE******/
#top{
    width: calc(100% - 200px);
    height: calc(100% - 91px);
    overflow-y:scroll;
}

/* Banner Zone*/
#banner{
    height: 90px;
    width: 100%;
    position: sticky;
    right: 0;
    z-index: 1;
    background-color: var(--bg-banner);
}

#banner button{
    border-radius: 50px;
    border: 2px solid white;
    padding: 13px 40px;
    margin-right: 10px;
    background-color: transparent;
    color: white;
}

#banner button:hover{
    padding: 20px 50px;
    cursor: pointer;
}
/* End Banner Zone*/



/* Main-Container Zone*/
#main-container{
    padding: 15px;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
    background-color: #141922;
}

#categories-row{
    width: 100%;
    height: 85px;
    gap: 24px;
    flex-wrap: wrap;
}

#categories-row a{
    text-decoration: none;
    color: var(--c-playlist);
    font-weight:800;
}

#categories-row a:hover{
    color: white;
}

#media-type-animation{
    width: 40%;
    margin: 5px auto;
    border: 2px solid lightgreen;
}


.recently-played{
    color: var(--c-text-icon);
}

.recently-played h6{
    opacity: 0.6;
    margin: 10px 0;
}

.albums{
    width: 100%;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.album{
    text-align: center;
    margin: 15px 0;
    width: calc(100%/6 - 20px);
}

.album-cover{
    width: 100%;
}

.h-play{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
}

.h-play i{
    position: absolute;
    top: 40%;
    left: 46%;
    font-size: 2rem;
}

.album:hover .h-play{
    display: inline;
}


/* End Main-Container Zone*/

/****** END TOP ZONE******/


/*********************** Trackkbar Zone****************/
#trackbar{
    height: 91px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: var(--bg-trackbar);
}

/*Left Trackbar Zone*/
#track-details{
    padding: 15px;
    gap: 10px;
    width: 20%;
}

#track-details h6{
    color: white;
}

#track-details span{
    font-size: x-small;
}

#track-img{
    height: 45px;
}

#track-menu-options{
    margin-left: 30px;
    color: var(--c-playlist);
    gap: 10px;
}
/* End Left Trackbar Zone*/


/*Central Trackbar Zone*/
#track-control{
    flex-wrap: wrap;
    width: 60%;
}

#control-buttons{
    gap: 24px;
    color: white;
}

#play-button{
    border: solid 2px white;
    border-radius: 50%;
    padding: 5px;
}

#play-button:hover{
    padding: 8px;
    cursor: pointer;
}

#control-slidebar{
    margin-top: 10px;
}

#control-slidebar h6{
    color: white;
}

.bar{
    width: 50%;
    margin-right: 30px;
    margin-left: 30px;
}

.greyline{
    border: 3px solid grey;
    background-color: var(--c-playlist);
    height: 5px;
    border-radius: 10%;
    opacity: 0.3;
}

.underline{
    position: relative;
    width: 25%;
    border: 3px solid white;
    margin-right: 100rem;
    bottom: 3px;
    left: -3px;
}

.underline:hover{
    border: 3px solid green;
    cursor: pointer;
}
/*End Central Trackbar Zone*/

/*Right Trackbar Zone*/

#track-buttons{
    gap: 15px;
    width: 20%;
}

#track-buttons i{
    color: white;
}

#right-bar{
    width: 100%; 
    padding-right: 50%;
}



/* End Right Trackbar Zone*/


/******************** End Trarckbar Zone*********************/


/**************************************************************************
                            END MAIN ZONE
**************************************************************************/

/**************************************************************************
                                ADAPTIVE ZONE
**************************************************************************/

/********TODO RESOLUTIONS********/
/*  1200 Desktop (valore default),
    768 Tablet,
    475 Smartphone,
    320 Smartphone Smaller
*/

@media screen and (max-width:768px) {
    .recently-played{
        margin-top: 55px;
    }

    .album{
        width: calc(100%/4 - 20px);
    }

    #track-details{
        width: 25%;
    }
    #track-control{
        width:50%;
    }
    
    #track-buttons{
        width: 25%;
    }
   
}

@media screen and (max-width:475px) {

    .recently-played{
        margin-top: 55px;
    }

    .album{
        width: calc(100%/2 - 10px) ;
    } 

    #track-menu-options{
        flex-direction: column;
        margin-left: 15px;
    }

    #track-control{
        margin-left: 25px;
    }
    
    .bar{
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (max-width:375px) {
    
    #top{
        width: calc(100% - 50px);
    }
    
    #sidebar{
        width: 50px;
        padding-left: 15px;
    }

    #logo,#bottom-sidebar span,
    #bottom-sidebar hr,#playlist,
    #menu span{
        display: none;
    }

    .recently-played{
        margin-top: 70px;
    }
    
    #small-logo{
        width:  65%;
        margin: 0 auto;
        display: inline;

    }
    #bottom-sidebar{
       margin-top: 33rem;
    }

    #track-details{
        padding-left: 0;
    }
    #track-menu-options{
        margin-left: 0;
    }
    
    #track-details{
        scale: 75% 100%;
        width: 33%;
    }

    #track-control{
        width: 33%;
        scale: 75% 100%;
    }

    #track-buttons{
        scale: 55% 100%;
        width: 33%;
    }
}




/**************************************************************************
                            END ADAPTIVE ZONE
**************************************************************************/



/* DEBUG Zone*/
.debug #sidebar{
    background-color: red;
}

.debug #main-container{
    background-color: aqua;
}
.debug #top{
    background-color: blue;
}

.debug #banner{
    background-color: lightgreen;
}

.debug #trackbar{
    background-color: deeppink;
}
/* END DEBUG Zone*/ 